Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@weglov Sign out
3
5 3 DavidBriglio/cordova-plugin-foreground-service
 Code  Issues 2  Pull requests 0  Projects 0  Wiki  Insights
cordova-plugin-foreground-service/plugin.xml
@DavidBriglio DavidBriglio Updated version number for npm
deaa68a on Feb 4
31 lines (30 sloc)  1.55 KB
    
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ws-foreground" version="1.0.0">
    <name>Cordova Soket.IO Foreground Service</name>
    <description>Foreground service with socket.io.</description>
    <license>MIT</license>
    <author>Viktor Shcheglov</author>
    <keywords>cordova,background,foreground,service,ws,socket</keywords>
    <js-module src="www/foreground.js" name="SocketService">
        <clobbers target="cordova.plugins.WsForeground" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WsForeground">
                <param name="android-package" value="com.wsforeground.plugin.SocketService" />
            </feature>
        </config-file>
        <framework src="com.squareup.okhttp3:okhttp:3.10.0" />
        <framework src="io.socket:socket.io-client:1.0.0" />
        <framework src="io.reactivex.rxjava2:rxjava:2.1.12" />
        <framework src="com.google.code.gson:gson:2.8.2" />
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/*" target-dir="src/com/wsforeground/plugin" />
        <resource-file src="raw/new_order.mp3" target="res/raw/new_order.mp3" />
    </platform>
</plugin>
